<div class="card mx-auto align-middle" style="width: 18rem; margin: auto; margin-top: 10%;">
    <img src="/img/GitHub-Mark-120px-plus.png" class="card-img-top" style="width: 40%; margin: auto; margin-top: 5%;">
    <div class="card-body">
      <h5 class="card-title text-center">Sign in</h5>
      <p class="card-text text-center">Sign in with GitHub</p>
      <div class="mx-auto" style="width: 80%;">
          <a href="<%= login_page %>" class="btn btn-primary text-center align-middle mx-auto" style="width: 100%;">Authorize</a>
      </div>
    </div>
</div>