<div class="container mt-3">
    <div class="row">
        <div class="col-md-8">
            <h2>Daftar <%= title %></h2>

            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nama</th>
                    <th scope="col">NoHp</th>
                    <th scope="col">Detail</th>
                  </tr>
                </thead>
                <tbody>
                  <% let no = 1; %> 
                  <% contacts.forEach(contact => { %>
                    <tr>
                      <th scope="row"><%= no++ %></th>
                      <td><%= contact.nama %></td>
                      <td><%= contact.nohp %> </td>
                      <td>
                        <a href="" class="btn btn-success btn-sm badge rounded-pill bg-success"><i class="bi bi-info-circle"></i> Detail</a>
                      </td>
                    </tr>
                  <% }) %>
                </tbody>
              </table>
        </div>
    </div>
</div>