<div class="container text-center mt-3 mb-3">
    <h1><%= title %></h1>
    <img src="img/akbar-angkasa.jpg" class="img-thumbnail rounded-circle" width="200" alt="AkbarAngkasa">
    <p class="fw-normal mt-3">Akbar Angkasa | Mahasiswa | 19</p>
</div>