<h1>Contact App</h1>
<h2 class="fw-light"><%= title %></h2>
<hr>
<ul class="list-group list-group-numbered mt-3">
    <% contacts.forEach(contact => { %>
        <li class="list-group-item"><%= contact.nama %> </li>
    <% }) %>
</ul>