<h1 class="mt-3">Tambah Contact</h1>
<a href="/contact"><i class="bi bi-caret-left"></i>Kembali</a>
<hr>
<form method="post" action="/contact">
    <input type="hidden" name="user" value="user" id="user">
    <div class="mb-3">
      <label for="nama" class="form-label">Nama: </label>
      <input type="text" class="form-control" id="nama" name="nama">
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email: </label>
      <input type="email" class="form-control" id="email" name="email">
    </div>
    <div class="mb-3">
      <label for="nohp" class="form-label">No Hp: </label>
      <input type="text" class="form-control" id="nohp" name="nohp">
    </div>
    <button type="submit" class="btn btn-primary">Kirim</button>
</form>