<div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><%= contact.nama %></h5>
      <h6 class="card-subtitle mb-2 text-muted"><%= contact.nohp %> </h6>
      <p class="card-text"><%= contact.email %> </p>
      <a href="/contact/edit-contact/<%= contact.email %> " class="card-link"><i class="bi bi-pencil-square"></i> Edit</a><br>
      <a href="/contact" class="card-link"><i class="bi bi-arrow-left-circle"></i> Kembali</a>
    </div>
  </div>